{% extends 'base.html' %} {% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Your Urine Logs</h1>

  <div class="d-flex align-items-center">
    <form method="GET" class="me-3">
      <input type="date" name="date" class="form-control" onchange="this.form.submit()" value="{{ selected_date }}" />
    </form>
    <button class="btn btn-secondary" data-bs-toggle="offcanvas" href="#logForm" role="button" aria-controls="logForm">+ Add Log</button>
  </div>
</div>

<div>
  <table class="table">
    <thread>
      <tr>
        <th scope="col">Color</th>
        <th scope="col">Comment</th>
      </tr>
    </thread>
    <tbody>
      {% for log in urine_logs %}
      <tr>
        <td>{{ log.urine_color }}</td>
        <td>{{ log.urine_comment }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="2">No urine logs made yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Above is table format code from Bootstrap site. Wabt to make a 'delete' button next to each log near end of row -->

<!-- On (+ Add Log) button press, log creation form appears from the bottom of the page -->
<div class="offcanvas offcanvas-bottom mx-auto w-25 p-2 rounded-top" style="height: 83%" tabindex="-1" id="logForm" aria-labelledby="logFormLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="logFormLabel">New Urine Log</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form method="POST">
      <!-- {{ render_form(form) }} can also replace the render_field() lines below, but I wanted to customize the submit button with Bootstrap classes -->
      {{ form.csrf_token() }} {{ render_field(form.timestamp, class='form-control') }} {{ render_field(form.urine_color) }} {{ render_field(form.urine_comment) }} {{ render_field(form.submit, class='btn btn-secondary') }}
    </form>
  </div>
</div>

{% endblock %}
