{% extends 'base.html' %} 
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Your Food Logs</h1>
    <button class="btn btn-secondary" data-bs-toggle="offcanvas" href="#logForm" role="button" aria-controls="logForm">+ Add Log</button>
</div>

<!-- On (+ Add Log) button press, log creation form appears from the bottom of the page -->
<div class="offcanvas offcanvas-bottom mx-auto w-25 p-2 rounded-top" style="height: 83%" tabindex="-1" id="logForm" aria-labelledby="logFormLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="logFormLabel">New Food Log</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form method="POST">
        <!-- {{ render_form(form) }} can also replace the render_field() lines below, but I wanted to customize the submit button with Bootstrap classes -->
        {{ form.csrf_token() }}
        {{ render_field(form.food_name) }}
        {{ render_field(form.calories) }}
        {{ render_field(form.submit, class='btn btn-secondary') }}
    </form>
  </div>
</div>

{% endblock %}